/* _________________________________________________ */
/* GENERAL CONTENT */
/* _________________________________________________ */
body {
    font-family: 'Inter', sans-serif;
    background-color: #FFF;
    font-optical-sizing: auto;
    font-weight: 609;
    font-style: normal;
}

header {
    display: flex;
    padding: 70px 0;
    max-width: 1320px;
    position: fixed;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    width: 100%;
    /* z-index: 5;  */
    background-color: #ffffff;
}

h2 {
    font-size: 16px;
    margin: 0px 0px 23px;
    padding: 0px 0px 7px;
    display: inline-block;
    font-weight: 700;
    color: #000;
    text-transform: uppercase;
    /*Viết hoa văn bản*/
    letter-spacing: 1px;
    font-size: 16px;
    border-bottom: 3px solid #F26464;
}

h3 {
    font-size: 24px;
    font-weight: 50;
    margin: 10px 0px 15px;
    font-weight: 600;
}

.container {
    display: flex;
    flex-wrap: wrap;
    padding-top: 170px;
}

.main {
    width: 100%;
    padding-right: 0.75rem;
    padding-left: 0.75rem;
    margin-right: auto;
    margin-left: auto;
    max-width: 1320px;
}

.button {
    display: inline-block;
    width: auto;
    height: auto;
    text-transform: uppercase;
    font-size: 12px;
    color: #F26464;
    line-height: 13px;
    font-weight: 900;
    letter-spacing: 3px;
    padding: 17px 30px;
    border: 2px solid #F26464;
    border-radius: 40px;
}

.button:hover {
    background-color: #F26464;
    color: #FFF;
}

/* _________________________________________________ */
/* HEADER*/
/* _________________________________________________ */
#j-label-logo {
    background-color: black;
    color: white;
    padding: 4%;
    width: 40px;
    height: 40px;
    font-size: 22px;
    font-weight: 700;
    border-radius: 4px;
    margin: 0px 12px 0px 0px;
    box-sizing: border-box;
    text-align: center;
    font-family: 'Inter', sans-serif;
}

.social-link-header i {
    display: inline-block;
}

.social-link-header:hover {
    color: #F26464;
}

#js-label-header {
    font-family: 'Inter', sans-serif;
    font-size: 18px;
    margin-top: 5%;
    letter-spacing: 5px;

}

.logo-header {
    display: flex;
    font-family: 'Inter', sans-serif;
}

.banner-header {
    justify-content: space-between;
    display: flex;
    box-sizing: border-box;
}

.banner-header figure {
    margin: 0%;
}

.banner-header div {
    padding-left: 70px;
    padding-right: 100px;
}

.banner-header div h1 span {
    display: block;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 500;
    font-size: 16px;
    padding-bottom: 30px;

}

.exp-list {
    list-style: none;
    display: grid;
    grid-template-columns: 150px 150px 150px;
    flex-wrap: wrap;
    align-items: center;
    margin: 0;
    padding: 0;
    margin-top: 60px;
}

.exp-list li {
    display: grid;
    margin-right: 10px;
    font-size: 16px;
    color: #373737;
}

.exp-list strong {
    display: block;
    color: #F26464;
    font-size: 36px;
    font-weight: 800;
}

.exp-list span {
    font-size: 16px;
    letter-spacing: 1px;
}

/* _________________________________________________ */
/* ABOUT ME */
/* _________________________________________________ */
.about-me {
    padding: 60px 0 120px;
}



.about-me section {
    text-align: center;
}


.about-me-button:hover {
    background-color: #F26464;
    color: white;
}

#about-me-text {
    font-family: 'Inter', sans-serif;
    color: #000;
    font-size: 24px;
    line-height: 40px;
    font-weight: 200;
    margin-bottom: 60px;

}

/* _________________________________________________ */
/* SKILL*/
/* _________________________________________________ */
.hero-skill {
    display: grid;
    grid-template-columns: auto auto;
    padding-left: 20px;
    margin-bottom: 100px;
}


.skill-list {
    list-style: none;
    display: flex;
    padding: 0px;
    margin: 0px;
    flex-wrap: wrap;
    align-items: center;
    margin-top: 11px;
}

.skill-list li {
    display: inline-block;
    border: 1px solid #c7c3c3;
    border-radius: 27px;
    padding: 10px 20px;
    margin: 0px 15px 15px 0px;
    background-color: rgb(255, 255, 255);
    font-size: 15px;
    font-weight: 500;
    color: #373737;
}

.skill-list li:hover {
    background-color: #c7c3c3;
}

/* _________________________________________________ */
/* WORK EXPERIENCES */
/* _________________________________________________ */

.work-exp {
    padding-bottom: 120px;
}

.exp {
    display: grid;
    grid-template-columns: auto auto;
}

.year-exp {
    display: block;
    font-size: 14px;
    padding: 0px 0px 10px;
    font-family: 'Inter', sans-serif;
    font-weight: 600;
}

.infor-exp {
    padding-right: 70px;
}

.office h3 {
    font-size: 24px;
    font-weight: 100;
    margin-bottom: 10px;
}

.roles {
    font-size: 18px;
    font-weight: 300;
    margin-bottom: 10px;

}

.infor-exp p {
    margin-bottom: 16px;
    font-size: 18px;
}

.infor-exp ul {
    list-style: none;
    padding: 0;
    margin: 0;
    padding-top: 10px;
}

.infor-exp ul li {
    font-size: 16px;
    line-height: 24px;
    font-weight: 300;
    padding-left: 28px;
    position: relative;
    margin-bottom: 20px;
}

.infor-exp ul li::before {
    content: "";
    position: absolute;
    left: 0;
    top: 10px;
    border-radius: 100%;
    width: 8px;
    height: 8px;
    background-color: #373737;
}

/* _________________________________________________ */
/* WORK LIST */
/* _________________________________________________ */

.work-list {
    display: flex;
    margin-bottom: 20px;
    background-color: #faf8f8;
    justify-content: space-between;
    padding: 40px 70px 0;
}

.work-infor section {
    display: flex;
    flex-wrap: wrap;
    padding-top: 40px;
    padding-right: 120px;
}

.work-infor span {
    font-weight: 100;
    font-size: 18px;
    line-height: 30px;
}

.work-infor .button {
    margin-top: 20px;
}

.work-list-section {
    display: flex;
    flex-wrap: wrap;
}

/* _________________________________________________ */
/* FOOTER */
/* _________________________________________________ */
.ym-ft {
    background-color: #000000;
    color: white;
    bottom: 250px;
}

.ft-container {
    display: flex;
}

.ft-container section {
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    max-width: 1320px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 100px 0;

}

.ft-container h5 {
    font-size: 16px;
}

.ym-ft span {
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 700;
    display: block;
    padding-bottom: 20px;
    padding: 0px 20px;
    color: #c7c3c3;

}

.ym-ft h4 {
    font-size: 32px;
    font-weight: 700;
    padding: 5px 10px;
    margin: 15px;
}